/* Estilos solo para blazor-error-ui */
#blazor-error-ui {
    z-index: 1000;
    padding: 1rem;
    margin-bottom: 1rem;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
